In [25]:
import glob as gl
import pandas as pd

In [26]:
zipcode = pd.read_table('unique_zip_codes.txt', names=['Zip Code'])

In [27]:
files = sorted(gl.glob('ca-opioid-data/*.csv'))

for f in files[:2]:
    df = pd.read_csv(f)
    valcnt = pd.DataFrame(df['BUYER_ZIP'].value_counts()).reset_index()
    valcnt = valcnt.rename(columns={'index': 'Zip Code', 'BUYER_ZIP': 'Counts'})
    zipcode = pd.merge(zipcode, valcnt, how='left', on='Zip Code')

In [28]:
zipcode

      Zip Code  Counts_x  Counts_y
0        90001      21.0      37.0
1        90002      55.0      62.0
2        90003       3.0       3.0
3        90004      74.0      96.0
4        90005      37.0      54.0
...        ...       ...       ...
1283     96145      15.0      15.0
1284     96146       NaN       2.0
1285     96150     208.0      18.0
1286     96161     142.0      82.0
1287     96162       NaN       NaN

[1288 rows x 3 columns]